<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<hr>

<% @post.comments.each do |p| %>
  <b> 이름 : </b><%=p.commenter %><br />
  <b> 내용 : </b><%=p.body %> <br />
  <!-- 기존에 @commnet라고 되어있었는데 show 액션에 @comment변수를 선언해줘야지
  사용할수 있는데 그러지않았음. 따라서 똑같은 역할을 하는 p를 넣어줌-->
  <%= link_to 'Destroy', post_comment_url(@post ,p) , method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>



<%= form_for [@post, Comment.new] do |f| %>
  <p>
    <%= f.label :commenter, "Commenter" %><br />
    <%= f.text_field :commenter %><br />
    <%= f.label :body, "Comment Description" %><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit "Add Comment" %>
  </p>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
